<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static "dependencies/bootstrap-3.3.4-dist/css/bootstrap.min.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "app/css/app.css" %}">
		
		<script src="{% static "dependencies/jquery.js" %}"></script>
		<script src="{% static "app/js/app.js" %}"></script>
	</head>
	
	<body>
		<div class="container-fluid" id="app">
			<div class="row">
				<div class="col-md-12">
					<input type="text" class="form-control search-input"></input>
				</div>
			</div>
		{% for notification in notifications %}
		    <div class="row notification" data-pct="{{ notification.pct }}">
		    	<div class="col-md-12 notification-url">
		    		<div class="notification-container">
		    			{% if notification.pct < -30 %}
		    			<span class="pct label label-danger">
		    				<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
		    				{{ notification.pct }}%
		    			</span>
		    			{% else %}
						<span class="pct label label-default">
		    				<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
		    				{{ notification.pct }}%
		    			</span>
		    			{% endif %} 
		    				
		    			<span>
		    				<a href="{{ notification.url }}" target="_blank" class="title-container">{{ notification.title }}</a>
		    			</span>
		    		</div>
		    	</div>
		    </div>
		{% endfor %}
		</div>
	</body>
</html>